<button
  type="button"
  class="relative mt-4 ml-4 max-w-[300px] max-h-[300px] h-full w-full bg-white rounded-[10px] p-2 shadow-md hover:border hover:border-gray-400"
>
  <div
    class="absolute top-0 left-0 w-full h-20 bg-blue-500 rounded-t-[10px] flex flex-col text-white text-left"
  >
    <span class="font-bold text-2xl ml-4 mt-2">Matematicas</span>
    <span class="font-semibold text-base ml-4">Emmanuel R.</span>
  </div>
  <div
    class="absolute bottom-0 left-0 w-full h-10 bg-white rounded-b-[10px] border-t border-gray-300 flex justify-between items-center"
  ></div>
  <div
    class="absolute top-0 left-0 w-full h-full flex justify-end items-start overflow-hidden pt-14 pr-5"
  >
    <div class="w-20 h-20 bg-red-500 rounded-full overflow-hidden"></div>
  </div>
</button>
