<div class="flex-start flex-wrap h-[100vh]">
  <h1>desencriptacion</h1>
  <h1>password devuelta dela cookie: {{ password }}</h1>
  <h1>
    tranformamos la cadena en un arreglo de numero {{ passwordarrynumber }} se
    ve igual XD
  </h1>
  <h1>
    calculamos lo operacion de exponeciacion modular inversa
    {{ passwordarrynumberdes }}
  </h1>
  <h1>transformamos de codigo de numero a letras {{ passwordfinal }}</h1>
  <button
    type="button"
    class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded shadow"
    (click)="onclick()"
  >
    LogOut
  </button>
</div>
