<nav class="bg-white border-b border-gray-400 fixed z-30 w-full">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button
          type="button"
          class="inline-flex items-center justify-center w-10 h-10 text-cyan-700 text-4xl font-bold ml-10"
        >
          ExIES
        </button>
      </div>
      <div class="flex items-center">
        <button
          type="button"
          class="inline-flex items-center justify-center w-10 h-10 text-cyan-600 hover:text-cyan-700 mr-5"
        >
          <i class="fas fa-bell text-2xl"></i>
        </button>
        <button
          type="button"
          class="inline-flex items-center justify-center w-10 h-10 bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 rounded-full text-white"
        >
          <i class="fas fa-user"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
